<%- include('partials/header'); -%>
    <h1>
        <%= startingContent[0] %>
    </h1>
    <p>
        <%= startingContent[1]%>
    </p>
    <% newPosts.forEach((element)=> {%>
        <h1>
            <%=element.title%>
        </h1>
        <p>
            <%=element.post.substring(0,100) + "..." %><a href="/posts/<%=element._id%>">Read More</a>
        </p>
        <% }); %>
            <%- include('partials/footer'); -%>